@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  min-height: 100vh;
  background-color: #0E0200;
}

.topnav{
    height: 10%;
    width: 100%;
    border: solid 2px;
    background-color: #fff;
    position: sticky;
}
li{
    display: inline;
}
.wrapper{
    height: 100%;
    justify-content: center;
    margin-left: 30%;
    align-self: center;
    width: 40%;
    color: #fff;
    padding: 30px 40px;
}
@media (max-width:425px){
  .wrapper{
    height: 100%;
    justify-content: center;
    align-self: center;
    width: 100%;
    color: #fff;
    margin: auto;
  }
}
@media (min-width:1440px){
  .wrapper{
    height: 100%;
    justify-content: center;
    align-self: center;
    width: 30%;
    color: #fff;
    margin: auto;
  }
}
@media (min-width:2560px){
  .wrapper{
    height: 100%;
    justify-content: center;
    align-self: center;
    width: 20%;
    color: #fff;
    margin: auto;
  }
}
#icone{
    position: relative;
    left: 26%;
    top: 6%;
    font-size: 300%;
    color: #fff;
}
.wrapper h1{
    font-size: 30px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;

    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline:  none;
    border: 2px solid rgba(255, 255, 255, 0.877);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 13.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}
.register-link p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}
