<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <script src="../public/js/validations.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            validate_phone("phone");
            validate_cpf("cpf");

            document.getElementById("formcad").addEventListener("submit", function (event) {
                event.preventDefault();

                email = document.getElementById("email").value;
                name = document.getElementById("name").value;
                pass = document.getElementById("pass").value;
                phone = document.getElementById("phone").value;
                cpf = document.getElementById("cpf").value;


                if (validate_email(email) && validate_name(name) && validate_password(pass)) {
                    const emailSanitized = xss(email);
                    const nameSanitized = xss(name);
                    const passSanitized = xss(pass);
                    const phoneSanitized = xss(phone);
                    const cpfSanitized = xss(cpf);

                    email = emailSanitized;
                    name = nameSanitized;
                    pass = passSanitized;
                    phone = phoneSanitized;
                    cpf = cpfSanitized;

                    event.target.submit();
                }
            });
        })
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/Cadastro.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' type="text/css">
    <title>Cadastro</title>
</head>

<body>

    <div class="wrapper">
        <form id="formcad" action="/cad-fim" method="POST">
            <i class='bx bxs-pizza' id="icone"></i>
            <div class="input-box">
                <input type="email" placeholder="Digite seu E-mail" id="email" name="email" required>
                <i class='bx bx-envelope'></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Digite seu Name" id="name" name="name" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Digite sua pass" id="pass" name="pass" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Digite seu fone" id="phone" name="phone" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Digite seu CPF" id="cpf" name="cpf" required>
                <i class='bx bxs-user'></i>
            </div>
            <button type="submit" class="btn">Cadastrar</button>
        </form>
    </div>
</body>

</html>