<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>
    <script src="../public/js/validations.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            validate_phone("phone");
            validate_cpf("cpf");

            document.getElementById("formcad").addEventListener("submit", function (event) {
                event.preventDefault();

                const email = document.getElementById("email").value;
                const name = document.getElementById("name").value;
                const password = document.getElementById("password").value;
                const phone = document.getElementById("phone").value;
                const cpf = document.getElementById("cpf").value;

                const isEmailValid = validate_email("email", "formcad");
                console.log("Email valid:", isEmailValid);
                const isNameValid = validate_name("name", "formcad");
                console.log("Name valid:", isNameValid);
                const isPasswordValid = validate_password("password", "formcad");
                console.log("Password valid:", isPasswordValid);

                if (isEmailValid && isNameValid && isPasswordValid) {

                    const emailSanitized = filterXSS(email);
                    const nameSanitized = filterXSS(name);
                    const passSanitized = filterXSS(password);
                    const phoneSanitized = filterXSS(phone);
                    const cpfSanitized = filterXSS(cpf);

                    const formData = {
                        email: emailSanitized,
                        name: nameSanitized,
                        password: passSanitized,
                        phone: phoneSanitized,
                        cpf: cpfSanitized
                    };

                    fetch("/cad-fim", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(formData)
                    })  
                        .then(response => {
                            if (response.ok) {
                                alert("Cadastro realizado com sucesso");
                                document.getElementById("formcad").reset();
                            } else {
                                alert("Senha ou email inválidos.");
                            }
                        })
                } else {
                    alert("Por favor corrija os campos incorretos");
                }
            });
        });
    </script>
    <link href="../public/css/styles.css", rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/Cadastro.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' type="text/css">
    <title>Cadastro</title>
</head>

<body>

    <div class="wrapper">
        <form id="formcad">
            <i class='bx bxs-pizza' id="icone"></i>
            <div class="input-box">
                <input type="email" placeholder="Digite seu E-mail" id="email" name="email" required>
                <i class='bx bx-envelope'></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Digite seu nome" id="name" name="name" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Digite sua senha" id="password" name="pass" required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Digite seu fone" id="phone" name="phone" required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="text" placeholder="Digite seu CPF" id="cpf" name="cpf" required>
                <i class='bx bxs-user'></i>
            </div>
            <button type="submit" id="enviar" class="btn">Cadastrar</button>
        </form>
    </div>
</body>

</html>