<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/Login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../public/css/styles.css", rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login</title>
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="text-center bg-white p-8 rounded-lg shadow-lg">
        <form id="formlogin">
            <h1 class="text-6xl text-orange-500 font-bold mb-4">Pizzaria</h1>
            <p class="text-gray-600 mb-6">Informe seus dados para entrar</p>
            <div class="input-box mb-4">
                <input type="email" id="email" placeholder="Usuário" required class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
            </div>
            <div class="input-box relative mb-4">
                <input type="password" id="password" placeholder="Senha" required class="w-full px-4 py-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500">
                <button type="button" onclick="togglePassword()" class="absolute inset-y-0 right-0 flex items-center px-3 text-blue-500 focus:outline-none">
                    <!-- Ícone de olho aberto -->
                    <i id="eye-icon" class="fas fa-eye w-6 h-6"></i>
                </button>
            </div>
            <div class="flex justify-center mb-6">
                <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">
                    Entrar
                </button>
            </div>                                                                          
            <div class="mb-4">
                <p class="text-gray-600">Esqueceu a senha? <a href="#" class="text-blue-500 hover:underline">Clique aqui para recuperar</a></p>
            </div>
            <div>
                <p class="text-gray-600">Não tem uma conta? <a href="#" class="text-blue-500 hover:underline">Clique aqui para registrar</a></p>
            </div>
            <div class="mt-8">
                <a href="https://wa.me/5511999999999?text=Olá!%20Preciso%20de%20suporte." target="_blank" class="flex items-center justify-center bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500">
                    <i class="fab fa-whatsapp w-6 h-6 mr-2"></i>
                    WhatsApp
                </a>
            </div>
        </form>
    </div>
    <script>
        function togglePassword() {
            const passwordField = document.getElementById('password');
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
        }
    </script>
    <script src="../public/js/validations.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("formlogin").addEventListener("submit", async function (event) {
                event.preventDefault();

                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;

                const isEmailValid = validate_email("email", "formlogin");
                const isPasswordValid = validate_password("password", "formlogin");

                if (isEmailValid && isPasswordValid) {
                    const emailSanitized = filterXSS(email);
                    const passSanitized = filterXSS(password);

                    const formData = {
                        email: emailSanitized,
                        password: passSanitized
                    };

                    try {
                        const response = await fetch("/login-fim", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(formData)
                        });

                        const data = await response.json();

                        if (response.ok) {
                            alert(data.message || "Login bem-sucedido!");
                            window.location.href = data.redirectUrl;
                        } else {
                            alert(data.message || "Senha ou email inválidos.");
                        }
                    } catch (error) {
                        console.error('Error:', error);
                        alert("Ocorreu um erro ao processar a solicitação.");
                    }
                }
            });
        });
    </script>
</body>

</html>
