<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/css/Registra.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="./../public/js/Verifica_tipo_produto.js"></script>
    <title>Registre um novo produto</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("formSanitizacao").addEventListener("submit", function(event) {
                event.preventDefault(); // Evita o envio do formulário

                const nomeProduto = document.getElementById("nome_produto").value;
                const descricaoProduto = document.getElementById("descricao_produto").value;
                const precoProduto = document.getElementById("preco_produto").value;
                const quantidadeProduto = document.getElementById("quantidade_produto").value;
                const tipoProduto = document.getElementById("tipo_produto").value;

                const nomeProdutoSanitizado = xss(nomeProduto);
                const descricaoProdutoSanitizado = xss(descricaoProduto);
                const precoProdutoSanitizado = xss(precoProduto);
                const quantidadeProdutoSanitizada = xss(quantidadeProduto);
                const tipoProdutoSanitizado = xss(tipoProduto);

                document.getElementById("nome_produto").value = nomeProdutoSanitizado;
                document.getElementById("descricao_produto").value = descricaoProdutoSanitizado;
                document.getElementById("preco_produto").value = precoProdutoSanitizado;
                document.getElementById("quantidade_produto").value = quantidadeProdutoSanitizada;
                document.getElementById("tipo_produto").value = tipoProdutoSanitizado;

                event.target.submit();
            });
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <form action="/prod-fim" method="POST" autocomplete="off">
            <h1>Registre um novo produto</h1>
            <div class="input-box">
                <input type="text" placeholder="Nome do produto" id="nome_produto" name="nome_produto" required>
                <i class='bx bx-box'></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Descrição do produto" id="descricao_produto" name="descricao_produto" required>
                <i class='bx bx-box'></i>
            </div>
            <div class="input-box">
                <input type="number" placeholder="Preço do produto" id="preco_produto" name="preco_produto" step="0.01" min="0" required>
                <i class='bx bx-box'></i>
            </div>
            <div class="input-box">
                <input type="number" placeholder="Quantidade do produto" id="quantidade_produto" name="quantidade_produto" required>
                <i class='bx bx-box'></i>
            </div>
            <!--<div class="input-box">
                <input type="number" placeholder="Valor do produto" id="valor_produto" name="valor_produto" required>
                <i class='bx bx-dollar-circle'></i>
            </div>-->
                <select class="custom-select" id="tipo_produto"  name="tipo_produto" onchange="verificaTipoProduto(this.value)">
                    <option value="" disabled selected hidden>Tipo do produto</option>
                    <option value="pizza">Pizza</option>
                    <option value="bebida">Bebida</option>
                </select>
                    <input type="hidden" id="produto_transformacao" name="produto_transformacao" value="false">
               <!--<div class="remember-forgot">
                    <label><input type="checkbox" id="produto_transformacao" name="valor_produto">É produto de transformação?</label>
                </div>-->
            <button type="submit" class="btn">Registrar produto</button>
        </form>
    </div>
</body>
</html>