* {
    padding: 0;
    margin:0;
    overflow: hidden;
    font-family: "Raleway";
   
}



.main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.arrow{display: none;}

.header-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top:5;
    width: 100vw;
    height: 6vh;
    z-index: 90;
    
}


.header-s{
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin-left: 13%;
    max-width: 1930px;
}


.header-sm{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2vw;
}


.button{
  
    margin-right:1vw ;

}

.search{
    display: none;
}




.titulo p{
    font-size: 1.2rem;
    color: black
}



.button input{
    width: 180px;
    height: 3vh;
    border: none;
    border-radius: 2px;
}


.create-order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width:8vw;
    height: 4vh;
    background-color:#fbfbfc;
    border: 1px solid black;
    border:none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.create-order-button p {
    margin: 0;
    margin-right: 20s   px;
    font-size: 16px;
}

.create-order-button span {
    font-size: 25px;
    background-color: black;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
    
}



.menulateral{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 10vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 1px rgb(230, 230, 230);
    
}



.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo img{
  width: 75%;
  margin-top: -1%;
  margin-bottom: 20%;
  
}

.logo span{
    font-family:"Playfair Display" ;
    font-size: 1vw;
    font-weight: 700; 
    margin-top: 3%;
    margin-bottom: 20%;
}

.menu-line{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 9%;
}

.menu-line a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.central{
    
    
  
   
    position: relative;
    top: 8vh;
    left: 13%;
    right: 10%;
    max-width: 1900px;
    width: 85vw;
    height: 70vh;
    background-color: white;
    overflow-y: auto;
   
    
   
    
}


.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}


.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 19
}

.cardapio {
    width: 100%;
}

.tabs {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: white;
    border-bottom: 2px solid #4CAF50;
}

.tab-content {
    display: none;
    padding: 20px 0;
}

.tab-content.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.item {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: auto;
}

.item-details {
    flex: 1;
    margin-right: 10px;
}

.item-details h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.item-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.item-img {
    width: 100px;
    height: 100px;
    
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img img {
    z-index: 90;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.add-to-order {
    z-index:98 ;
    margin-left: -25px;
    margin-right: -5px;
    margin-bottom: -60px;
   
    background-color: #000000;
    color: white;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%; /* Botão redondo */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.add-to-order:hover {
    background-color: #45a049;
}

.add-to-order span {
    font-size: 24px; /* Ajusta o tamanho do ícone */
}
/* Ícone do Pedido */
.order-icon {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    
}

.order-icon span{
    margin-right: -3px;
}

.order-icon .order-count {
    background-color: red;
    color: black;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    
    
}

/* Fundo Escurecido */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* Pop-up de Pedido */
.order-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding:20px ;
    z-index: 100;
    flex-direction: column;
}

.order-popup h3 {
    margin-bottom: 15px;
    font-size: 24px;
}

.order-popup label {
    font-size: 18px;
    margin-bottom: 5px;
}

.order-popup input[type="text"] {
    width: 100%;
    padding: 10px;
    
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.order-items {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 15px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.order-item p {
    margin: 0;
}

.order-item input[type="number"] {
    width: 50px;
    margin-right: 10px;
    border: none
}

.order-total {
    margin-bottom: 15px;
    font-size: 18px;
}

#order-observations {
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#send-order, #close-order-popup {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#send-order:hover, #close-order-popup:hover {
    background-color: #45a049;
}

#close-order-popup {
    background-color: #f44336;

}

#close-order-popup:hover {
    background-color: #e53935;
}


.navbar{
    display: none;
    width: 100vw;
    height: 10vh;
    box-shadow: rgba(212, 212, 212, 0.2) 0px -8px 24px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    
}


.addform {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.add_form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.add_form_line {
    display: flex;
    width: 100%;

    flex-direction: row;
    margin-bottom: 10px;
    gap: 25px;
}


.add_form_group {
    display: flex;
    flex-direction: column;
}



.add_form_sline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_form_sline select {
    width: 180px;
    outline: none;
    border: none;
    border-bottom: 1px solid #afafaf;
}

.add_form_sline input {
    width: 150px;
    margin-top: -7px;
    outline: none;
}

.add_form_field {
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid #afafaf;
    color: black;
    margin-top: 2%;
}

.add_form input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 6%;
    border: none;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 1%;
    cursor: pointer;
}


.add_form_label {

    margin-top: 10px;
    margin-bottom: 5px;
}

.add_form h2 {
    margin-bottom: 10px;
}





@media (max-width:480px){
    
    
    
    .header-line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        position: fixed;
        top: 3vh;
        left: 0;
        border-bottom: none;
    }
     
    .header-line span{
        color: black;
    }

    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 8vh;
        color: white;
        height: 10vh;
    }
    
    .titulo h2{
        margin-top: 3vh;
        
    }
    .search input{
        width: 89vw;
        height: 4vh;
        border:none;
        background-color:white;
        border-radius: 5px;
        outline: none;
        color: rgb(0, 0, 0);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .search span{

        color: black;
    }

    .header-icon{
        display: none;
    }

    .menulateral{
        z-index: 95;
        width: 70vw;
        transform: translateX(-100%);
        transition: transform 0.3s ease; 
    }

    .expande{
        transform: translateX(0%);
    }

    .tabs{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .item{
        width: 90%;
    }
    .central{
        width: 100vw;
        position: absolute;
        background-color: #fafafa;
        top: 18vh;
        left: 0;
        overflow: auto;
    }

    .navbar{
        display: flex;
        z-index: 99;
        border-radius: 10px;
        box-shadow: 1px -10px  1px solid rgb(0, 0, 0);
       
    }

    .order-popup{
        width: 90vw;
    }


    .tab-content.active {
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        margin-left: 20px;
    }
    



}



