* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.5px 1.5px 5px rgba(83, 83, 83, 0.3);
    font-size: 100%;
}

.form {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input[type='email'],
input[type='password'] {
    height: 4vh;
    margin-top: 2%;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(160, 160, 160);
    outline: none;
}

.form input[type='submit'] {
    height: 4vh;
    margin-top: 5%;
    width: 100%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}

.title {
    width: 100%;
}

.logo img {
    margin-top: 3%;
    width: 50%;
}

.line {
    margin-top: 2%;
    width: 100%;
}

.line p {
    margin-top: 5px;
    font-size: 90%;
    
}

.line a {
    text-decoration: none;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .container {
        width: 80%;
        height: auto;
    }

    .form {
        width: 90%;
    }

    .logo img {
        width: 70%;
    }

    .form input[type='submit'] {
        height: 5vh;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        height: auto;
        box-shadow: none;
    }

    .form {
        width: 95%;
    }

    .logo img {
        width: 80%;
    }

    .form input[type='email'],
    input[type='password'] {
        height: 5vh;
    }

    .form input[type='submit'] {
        height: 4vh;
        margin-top: 10%;
    }

    .line p {
        font-size: 0.9rem;
    }
 

}
