* {
    padding: 0;
    margin:0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
   
}



.main{
    width: 100vw;
    height: 100vh;
    background-color:#fafafa
}

.arrow{display: none;}

.header-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: fixed;
    top:0;
    width: 100vw;
    height: 5vh;
    z-index: 90;
}

.search{
    display: none;
}

.titulo{
    width: auto;
   
}



.titulo p{
    font-size: 1.2rem;
    color: rgb(255, 255, 255)
}





.menulateral{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 10vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 1px rgb(230, 230, 230);
    
}



.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo img{
  width: 75%;
  margin-top: -1%;
  margin-bottom: 20%;
  
}

.menu-line{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 9%;
}

.menu-line a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.central{
    position: absolute;
    top: 8vh;
    left: 11.5%;
    width: 87vw;
    height: 90%;
    background-color: white;
    box-shadow: -1px -1px 2px rgb(230, 230, 230);
    border-radius: 10px;
    
}




@media (max-width:480px){
    
    
    
    .header-line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        position: fixed;
        top: 3vh;
        left: 0;
        border-bottom: none;
    }
     
    .header-line span{
        color: black;
    }

    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 8vh;
        color: white;
        height: 10vh;
    }
    
    .titulo p{
        margin-top: 3vh;
        margin-left: 3vw;
    }
    
    .menulateral{
        z-index: 95;
        width: 70vw;
        transform: translateX(-100%);
        transition: transform 0.3s ease; 
    }

    .expande{
        transform: translateX(0%);
    }

    
    .central{
        width: 100vw;
        position: absolute;
        background-color: #fafafa;
        top: 18vh;
        left: 0;
       
    }

    .navbar{
        display: flex;
        z-index: 99;
        border-radius: 10px;
        box-shadow: 1px -10px  1px solid rgb(0, 0, 0);
       
    }

}