<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header class="bg-[#de7254ff] py-6 px-6 col-span-4 sticky top-0">
    <nav class="flex items-center justify-between">
        <button onclick="window.location.href = 'http://localhost:3000/cadastro'" class="btn items-center">
            Cadastrar
        </button>
        <i class="fa fa-user-circle fa-2x text-white" aria-hidden="true"></i>
        <button>
        </button>
    </nav>
</header>