<header class="bg-[#de7254ff] py-6 px-6 col-span-4">
    <div class="flex flex-row">
        <nav class="pt-4 basis-1/4">
            <button class="btn">
                Button
            </button>
            <div x-data="{open: true}">
                <div x-show="open">
                    <p>
                        ajdifajsdfijsidfjdsifjdi
                    </p>
                </div>
            </div>
        </nav>
    </div>
</header>