<header class="bg-gray-200 py-6 px-6 col-span-4">
    <div class="flex flex-row">
        <nav class="pt-4 basis-1/4">
            <button class="btn">
                Button
            </button>
        </nav>
    </div>
</header>